/********Built-In CSS Styles*******/
body {
  margin: 0;
  text-align: center;
  font-family: 'Gowun Batang', serif;
  background-color: grey;
  color: white;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'style script', cursive;
  color: #66BFBF;

}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  line-height: 2;
}

a {
  color: #334257;
}

h3 {
  color: #66BFBF;
  font-weight: bold;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  width: 5%;
  border-color: #66BFBF;
}
a:link {
   text-decoration: none;
 }

a:visited {
   text-decoration: none;
 }


a:hover {
   text-decoration: none;
 }


a:active {
   text-decoration: none;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: grey;
   position: fixed;
   width: 100%;
   z-index: 9;
 }

 li {
   float: left;
  }

  li a:hover {
    background-color: #66BFBF;
  }

  li a {
    padding: 14px 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

/********Class CSS Styles*******/
.nav {

}

.active {
  background-color: #66BFBF;
}

.g-logo {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 20px;
}

.nd-top-container {
  padding-top: 25px;
  position: relative;
  background-color: #476072;
}

.top-container {
  padding-top: 25px;
  position: relative;
  background-image: url("world2.png");
  background-color: #476072;
}

.skill-row {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 2;
}

.Title {
  font-size: 5.625rem;
  color: #003638;
  margin-top: 20px;
}

.to {
  color: #003638;
  font-weight: normal;
  margin-top: 20px;
}


.icon-containter {
  background-color: #66BFBF;
  height: 45px;
  align-content: center;
  margin-top: 100px;
}

.logos {
  height: 40px;
  width: 40px;
}

.central-logo {
  height: 40px;
  width: 40px;
  margin: auto;
}

.first-para {
  width: 25%;
  position: relative;
  margin: 0 auto 100px auto;
}

.Title-Desc {
  font-weight: normal;
  color: #003638;
  margin-top: 20px;
}

.middle-container {

}

.Natural-Disaster-Post {
  background-color: grey;
  position: relative;
}

.bottom-container {
    background-color: #66BFBF;
    height: 200px;
    padding: 30px;
    align-content: center;
}

.underline {
  text-decoration: underline;
}

.Bottom-Cloud {
  position: absolute;
  margin-left: -600px;
}

.Top-Cloud {
  position: relative;
  margin-left: 500px;
}

.bottom-p {
  margin-top: 50px;
  color: white;
}

.prof-pic {
  height: auto;
  width: auto;
}

.contact-button {
  margin-top: 50px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 900;
   padding: 20px;
   background-color: #11999E;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   align-content: center;
}

.contact-button:hover {
   background: #626872;
   border: solid #FFFFFF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.footer-link {
  padding: 20px;
  color: #11999E;
  font-size: 1.5rem;
}

.globe-img {
  margin-top: 50px;
  height: 250px;
  width: 250px;
  margin-bottom: 25px;
}
/****Relative Positioning is relative to where the content should have been while Absolute is relative to the parent element.... Fixed maintains the position even if the user scrolls
