/********Built-In CSS Styles*******/
body {
  margin: 0;
  text-align: center;
  font-family: 'Gowun Batang', serif;
  background-color: grey;
  color: white;
  overflow-x: hidden;
}

h1 {
  margin: 50px auto 0 auto;
  color: #66BFBF;

}


h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  line-height: 2;
}

a {
  color: #334257;
}

h3 {
  color: #66BFBF;
  font-weight: bold;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  width: 7%;
  border-color: #66BFBF;
  background-color: transparent;
  margin: auto;
  opacity: 1;
}
a:link {
   text-decoration: none;
 }

a:visited {
   text-decoration: none;
 }


a:hover {
   text-decoration: none;
 }


a:active {
   text-decoration: none;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #3A4750;
   position: fixed;
   width: 100%;
   z-index: 9;
 }

 li {
   float: left;
  }


  li a:hover {
    background-color: #CDC9C3;
  }

  li a {
    padding: 14px 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

/********Class CSS Styles*******/

.hr-middle-nd {
  margin-bottom: 50px;
}

.hr-middle-bot-nd {
  margin-top: 50px;
}

.right-side-nav-text
{
  position: relative;
}

.right {
  position: relative;
  float: right;
  margin-right: 25px;
}

.icon-logo {
  position: relative;
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

.custom-hr {
  border-style: dotted none none none;
  border-width: 5px;
  width: 5%;
  border-color: #66BFBF;
}

.active {
  background-color: #66BFBF;
}

.g-logo {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.top-container {
  padding-top: 25px;
  position: relative;
  background-image: url("world2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #476072;
}

.skill-row {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 2;
}

.Title {
  font-size: 5.625rem;
  color: #002366;
  margin-top: 40px;
  animation-duration: 4s;
}

.to {
  color: #002366;
  font-weight: normal;
  margin-top: 20px;
  animation-duration: 4s;
}

.Title-Desc {
  font-weight: normal;
  color: #002366;
  margin-top: 20px;
  animation-duration: 4s;
}

@keyframes appear {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}


.logos {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}

.clip-pic {
  height: 20%;
  width: 20%;
  float: left;
  margin-right: 30px;
}

.about-me {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 2;
}


.first-para {
  width: 25%;
  position: relative;
  margin: 0 auto 100px auto;
}

.Natural-Disaster-Post {
  background-color: grey;
  position: relative;
}

.bottom-container {
    background-color: #66BFBF;
    height: 200px;
    padding: 30px;
    align-content: center;
    margin-top: 50px;
}

.underline {
  text-decoration: underline;
}

.Bottom-Cloud {
  position: absolute;
  margin-left: -600px;
}

.Top-Cloud {
  position: relative;
  margin-left: 500px;
}

.bottom-p {
  margin-top: 50px;
  color: white;
}

.prof-pic {
  height: auto;
  width: auto;
}

.contact-button {
  margin-top: 50px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 900;
   padding: 20px;
   background-color: #11999E;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   align-content: center;
}

.contact-button:hover {
   background: #626872;
   border: solid #FFFFFF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.footer-link {
  padding: 20px;
  color: #11999E;
  font-size: 1.5rem;
}

.globe-img {
  margin-top: 50px;
  height: 250px;
  width: 250px;
  margin-bottom: 25px;
}
/****Natural Disaster Page Specifics****/

.top-container-nd {
  padding-top: 25px;
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(efbg.jpg);
}

.middle-container-nd {
  margin-bottom: 50px;
}

.images-right {
  background-color: grey;
}

.middle-text {
  background-color: #66BFBF;
  height: auto;
  color: #3A4750;
  border-radius: 10px;
}

.images-left {
  background-color: grey;
}

.margin-pics {
  height: 350px;
  width: 350px;
}

.title-nd {
  color: #002366;
  animation-duration: 4s;
}

.sum {
  color: #002366;
  text-decoration: underline;
}

.desc-nd {
  color: #002366;
  animation-duration: 4s;
}

.nd-vid {
  width: 80%;
  height: 800px;
}

.sources {
  background-color: #66BFBF;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  border-radius: 10px;
}

.source-title {
  color: #3A4750;
  margin: auto;
}

.source-col {
  border: 2px;
  border-color: black;
}

/****Addiction Page Specifics****/

.top-container-ad {
  padding-top: 25px;
  margin-top: 50px;
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(adImg.jpg);
}

.middle-container-ad {
  margin-bottom: 50px;
}

.images-right {
  background-color: grey;
}

.middle-text {
  background-color: #66BFBF;
  height: auto;
  color: #3A4750;
  border-radius: 10px;
}

.images-left {
  background-color: grey;
}

.margin-pics {
  height: 350px;
  width: 350px;
}

.title-ad {
  color: #14279B;
  animation-duration: 4s;
}

.sum {
  color: #002366;
  text-decoration: underline;
}

.desc-ad {
  color: #14279B;
  font-size: 2rem;
  margin-top: 50px;
  animation-duration: 4s;
}

.ad-vid {
  width: 80%;
  height: 800px;
}

.top-container-as {
  padding-top: 25px;
  margin-top: 50px;
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(chinaMainImg.png);
}

.top-container-lo {
  padding-top: 25px;
  margin-top: 50px;
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(sbb.jpg);
}

.title-as {
  color: #66BFBF;
  animation-duration: 4s;
}

.desc-as {
  color: #66BFBF;
  animation-duration: 4s;
}

.top-container-e {
  padding-top: 25px;
  margin-top: 50px;
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(energyImg.jpg);
}

.title-e {
  color: #000000;
  animation-duration: 4s;
}